<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8" />
    {% block head %}
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/foundation.css">
        <link href='http://fonts.googleapis.com/css?family=Life+Savers:400,700|Sanchez:400,400italic|Ovo' rel='stylesheet' type='text/css'>
        <script src="/static/js/vendor/custom.modernizr.js"></script>
        <script srce="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <link rel="stylesheet" href="/static/css/social_foundicons.css">
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="stylesheets/social_foundicons_ie7.css">
        <![endif]-->


        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
    {% endblock head %}
</head>

<body>
    <header class="row">
        <div class="large-12 columns">
            <div class="row">
                <span class="right"><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/rss+xml"><i class="social foundicon-rss"></i> RSS</a></span>
                <div class="large-2 columns">
                    <a href="{{ SITEURL }}"><img src="/static/images/kid_goat.png" alt="The Testing Goat" title="The Testing Goat" /></a>
                </div>
                <div class="large-10 columns">
                    <h1>Obey the Testing Goat!</h1>
                    <h2><small><em>TDD for the Web, with Python, Selenium, Django, JavaScript and pals...</em></small></h2>
                </div>
            </div>
        </div>
    </header> <!-- end top banner -->

    {% block content %}
    {% endblock %}

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-8 columns">
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
                &nbsp
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Obey the Testing Goat website</span> 
                by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ SITEURL }}" property="cc:attributionName" rel="cc:attributionURL">Harry J.W. Percival</a> 
                is licensed under a 
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
                Site powered by <a href="http://getpelican.com/">Pelican</a>, and
                hosted on <a href="http://www.pythonanywhere.com">PythonAnywhere</a>
            </p>
       </div>

        <div class="large-4 columns">
          <ul class="inline-list right">
            <li><a href="/pages/book.html">Book</a></li>
            <li><a href="/pages/tdd-resources.html">Resources</a></li>
            <li>
                <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/rss+xml"><i class="social foundicon-rss"></i> RSS</a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#featured').orbit({ fluid: '2x1' });
    });
  </script>
  <!-- End Footer -->

</body>
</html>
