{% if DISQUS_SITENAME %}
    <div class="comments">
        <h3>Comments</h3>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            {% if page %}
                var disqus_shortname = 'obeythetestinggoat';
            {% elif 'the book exists, and is available' in article.title or 'next stage: writing a book' in article.title %}
                var disqus_shortname = 'testdrivendjango';
            {% else %}
                var disqus_shortname = 'obeythetestinggoat';
            {% endif %}

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
{% endif %}



