{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <!-- main content -->
      <div class="large-9 small-12 columns"> <!-- book  & blog div -->

        <div class="panel"> <!-- book -->

          <div class="row"> 
            <div class="large-12 small-12 columns">
              <div class="right">
                <p>
                  <img 
                    src="https://covers.oreillystatic.com/images/0636920051091/lrg.jpg"
                    border="0"
                    alt="Test-Driven Development with Python, 2e, cover"
                    width="200px"
                  />
                </p>
              </div>
              <h2>The book</h2>
              <p>
              This is my book about Test-Driven-Development for web programming,
              published by the excellent O'Reilly Media.
              </p>
              <p>There are a few ways you can read and support this book:</p>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <a class="button" href="http://amzn.to/2vl4B6O" target="_top">
                Preorder it on Amazon.com
              </a>
            </div>

            <div class="large-9 columns">
              <p>
                Obviously this is my favourite option!  O'Reilly have been
                great, they deserve your support, and although I only get a
                small amount in royalties (about a dollar per sale if
                you're curious), it still pays for the occasional dinner
                out every month which I appreciate.  Plus, real physical
                books are nice. 
              </p>
              <p>
                Or:
                <ul>
                  <li>
                    <a href="http://amzn.to/2wJTxOn" target="_top">
                      Preorder it on Amazon.co.uk
                    </a>
                  </li>
                  <li>
                    <a href="https://www.safaribooksonline.com/library/view/test-driven-development-with/9781491958698/">
                      Read it on Safari
                    </a>
                  </li>
                </ul>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <a class="button" href="/pages/book.html#toc">Read it online for free</a>
            </div>
            <div class="large-9 columns">
              <p>
                Alternatively, or in the meantime, help yourself here!
                It's all free and CC-licenced (thanks O'Reilly!). 
                I see this as a "try-before-you-buy" scheme, and I hope
                that if you enjoy it you'll buy a copy -- if not for
                yourself, then perhaps for a friend!
              </p>
            </div>
          </div>
          <p>And do get in touch with comments, suggestions, corrections etc!
          <a href="mailto:obeythetestinggoat@gmail.com">obeythetestinggoat@gmail.com</a>
          </p>
        </div> <!-- end book div -->

        <div> <!-- blog -->

          <div class="row">
            <div class="small-3 small-centered columns">
              <h2 class="center-text">Blog</h2>
            </div>
          </div>

          {% for article in articles_page.object_list %}
            <article>
              <header><h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3></header>

              <div>{{ article.summary }}</div>

              <footer class="text-right"><small>
                  {{ article.locale_date }} 
                  {% if article.author %}
                    by {{ article.author }}
                  {% endif %}
                </small></footer>
            </article>
            <hr />
          {% endfor %}

          {% include 'pagination.html' %}

        </div> <!-- end blog div -->
      </div><!-- end main content div -->

      {% include 'sidebar.html' %}
    </div>
  </div>
</div>

{% endblock content %}
