<div class="large-3 small-6 columns">
    <h6><a href="/pages/book.html">Read the book</a></h6>
    <p>
        The book is available both for free and for money.  
        It's all about TDD and Web programming.
        <a href="/pages/book.html">Read it here!</a>
    </p>
</div>

<div class="large-3 small-6 columns">
    <h6><a href="/pages/reviews-and-testimonials.html">Reviews & Testimonials</a></h6>
   
    <p>
        <i>"Hands down the best teaching book I've ever read"</i> &mdash;
        <i>"Even the first 4 chapters were worth the money"</i> &mdash;
        <i>"Oh my gosh! This book is outstanding"</i> &mdash;
        <i>"The testing goat is my new friend"</i> &mdash;
        <a href="/pages/reviews-and-testimonials.html">Read more...</a>
    </p>

</div>


<div class="large-3 small-6 columns">
    <h6><a href="/pages/tdd-resources.html">Resources</a></h6>
    <p>A selection of links and videos about TDD, not necessarily all mine, eg <a href="http://pyvideo.org/video/1657/fully-test-driven-web-development-with-django-and">this tutorial
        at PyCon 2013</a>, how to <a href="http://arstechnica.com/information-technology/2013/03/how-can-i-motivate-coworkers-to-write-unit-tests/">motivate coworkers to write unit tests</a>, thoughts on <a href="http://pyvideo.org/video/699/testing-and-django">Django's test tools</a>, <a href="https://www.youtube.com/watch?v=tdNnN5yTIeM">London-style TDD</a> and <a href="/pages/tdd-resources.html">more</a>.
</div>


<div class="large-3 small-6 columns">
    <h6><a href="http://www.tdd-django-tutorial.com">Old TDD / Django Tutorial</a></h6>
    <p>
    This is my <a href="http://www.tdd-django-tutorial.com">old TDD tutorial</a>,
    which follows along with the official Django tutorial, but with full TDD.  It
    badly needs updating. Read the book instead!
    </p>
</div>

<div class="large-3 small-6 columns">
    <h6><a href="/pages/save-the-testing-goat-campaign.html">Save the Testing Goat Campaign</a></h6>
    <p>
    The campaign page, preserved for history, which led to the glorious presence
    of the Testing Goat on the front of the book.
    </p>
</div>
