<div class="large-3 small-6 columns">
    <h6><a href="#">Save the Testing Goat campaign!</a></h6>
  <p>
  My beloved publisher, O'Reilly, don't understand how important the
  testing Goat is to the Python Testing community.  They want to put
  a snake on the cover.  Help them understand how much you love the
  Goat, sign the petition, share your goat experiences and pictures
  </p>
</div>

<div class="large-3 small-6 columns">
    <h6><a href="#">Videos</a></h6>
  <p>A selection of videos about TDD, not necessarily all mine</p>
  <ul class="disc">
      <l1><a href="#">PyCon 2013 Tutorial</a></li>
      <l1><a href="#">Getting started with testing</a></li>
      <l1><a href="#">TDD London Style with Ruby RSpec</a></li>
  </ul>
</div>

<div class="large-3 small-6 columns">
    <h6><a href="http://www.tdd-django-tutorial">Old TDD / Django Tutorial</a></h6>
  <p>
  This is my old TDD tutorial, which follows along with the official
  Django tutorial, but with full TDD.  It badly needs updating. Read
  the book instead!
  </p>
</div>
