div.codehilite, div.highlight {
    margin-bottom: 1.5em;
    margin-left: 2em;
    font-size: 0.8em;
}

.exampleblock .title, .listingblock .title {
    margin-top: 4ex;
    margin-bottom: 3ex;
    text-align: right;
}

.sidebarblock {
    border: 2px solid gray;
    padding: 2ex;
}

.sidebarblock .title {
    font-size: larger;
    text-align: center;
    margin-bottom: 1ex;
}

.literalblock {
    margin-bottom: 2ex;
}
